.section-subtitle {
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  position: relative;
}

.section-title {
  font-size: var(--h2-font-size);
  max-width: 550px;
  margin: 1rem auto 3rem;
}

.section-title span {
  color: var(--first-color);
}
