.home-data {
  padding-block: 9rem 4rem;
  max-width: 1500px;
  text-align: center;
}

.home-subtitle {
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  text-shadow: 10px 15px #000000;
}

.home-title,
.home-description {
  color: var(--white-color);
}

.home-title {
  font-size: var(--big-font-size);
  margin-block: 1.25rem;
}

.home-title span {
  color: transparent;
  -webkit-text-stroke: 2px var(--white-color);
}

.home-description {
  font-size: var(--large-font-size);
  margin-bottom: 2.5rem;
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.home-button {
  background-color: var(--second-color);
}

.home-button::before {
  background-color: var(--first-color);
}

/* Swiper */
.swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  color: var(--first-color);
  font-size: var(--h1-font-size);
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 10;
}

.next-btn {
  right: 2rem;
}

.prev-btn {
  left: 2rem;
}
